{
  "sourceMaps": true,
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "jsc": {
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true,
    "preserveAllComments": false,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": false,
      "decoratorMetadata": true,
      "useDefineForClassFields": true,
      "react": {
        "runtime": "automatic"
      }
    },
    "baseUrl": "./",
    "paths": {}
  },
  "minify": false,
  "isModule": true
}
